In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.set_option('display.max_row',None)
pd.set_option('display.max_column',None)

In [3]:
df = pd.read_csv('gurgoan_properties.csv')

In [4]:
df.head()

,property_name,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_type
0,4 BHK Flat in Sector 22 Gurgaon,ambience creacions,6.00,20533.0,29221.0,Carpet area: 3000 (278.71 sq.m.),4,5,3+,"pooja room,servant room","Sector 22 Gurgaon, Gurgaon, Haryana",10.0,South-East,0 to 1 Year Old,"['Moulsari Avenue', 'Ambience Mall', 'Old Delh...",Ambience creacions is one of gurgaon's most so...,"['4 Wardrobe', '6 Fan', '1 Exhaust Fan', '4 Ge...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Lifestyle4 out of 5...",NaN
1,3 BHK Flat in Sector-2 Sohna,supertech hill town,1.00,8720.0,11468.0,Carpet area: 1720 (159.79 sq.m.),3,3,3+,not available,"L342c, Sector-2 Sohna, Gurgaon, Haryana",3.0,East,Under Construction,"['Discount Department Store', 'Omaxe Gurgaon M...","Spacious rooms, amazing locality, situated on ...",[],"['Lift(s)', 'Maintenance Staff', 'Swimming Poo...",NaN,NaN
2,2 BHK Flat in Sector 107 Gurgaon,m3m woodshire,1.00,7496.0,13340.0,Super Built up area 1534(142.51 sq.m.)Carpet a...,2,2,3,study room,"Sector 107 Gurgaon, Gurgaon, Haryana",0.0,North-East,1 to 5 Year Old,"['Signum 107', 'Nora Solomon Medicenter', 'Ind...",Ground floor corner flat with day light throug...,"['5 Fan', '1 Geyser', '5 Light', '4 AC', '1 Mo...","['Intercom Facility', 'Lift(s)', 'Maintenance ...","['Green Area4.5 out of 5', 'Construction5 out ...",NaN
3,5 Bedroom House for sale in Sector 57 Gurgaon,satya the legend,9.25,16577.0,5580.0,Plot area 642(536.79 sq.m.)Built Up area: 630 ...,5,5,3+,"study room,servant room,pooja room,store room","7-08, Sector 57 Gurgaon, Gurgaon, Haryana",4.0,North-East,1 to 5 Year Old,"['HDFC Bank ATM', 'ICICI Bank ATM', 'YES Bank ...","Sector-57, gurgaon is located on the golf cour...","['1 Water Purifier', '9 Fan', '1 Exhaust Fan',...","['Centrally Air Conditioned', 'Water purifier'...","['Environment4 out of 5', 'Safety4 out of 5', ...",house
4,2 BHK Flat in Sector 83 Gurgaon,vatika gurgaon,0.07,6265.0,1117.0,Super Built up area 1245(115.66 sq.m.)Built Up...,2,2,2,"pooja room,study room","1102, Sector 83 Gurgaon, Gurgaon, Haryana",3.0,South-East,1 to 5 Year Old,"['Huda Metro Station (Gurugram)', 'Sapphire 83...",Luxurious 2 bhk apartment for sell in sector-8...,"['5 Fan', '1 Exhaust Fan', '3 Geyser', '5 Ligh...","['Water purifier', 'Security / Fire Alarm', 'P...","['Green Area5 out of 5', 'Construction4.5 out ...",NaN

In [5]:
df.shape

(3961, 20)

In [6]:
df.duplicated().sum()

0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3961 entries, 0 to 3960
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    3961 non-null   object
 1   society          3960 non-null   object
 2   price            3941 non-null   float64
 3   price_per_sqft   3941 non-null   float64
 4   area             3941 non-null   float64
 5   areaWithType     3961 non-null   object
 6   bedRoom          3961 non-null   int64
 7   bathroom         3961 non-null   int64
 8   balcony          3961 non-null   object
 9   additionalRoom   3961 non-null   object
 10  address          3950 non-null   object
 11  floorNum         3940 non-null   float64
 12  facing           2784 non-null   object
 13  agePossession    3960 non-null   object
 14  nearbyLocations  3754 non-null   object
 15  description      3961 non-null   object
 16  furnishDetails   2929 non-null   object
 17  features         3252 non-null   object
 18  rating           3511 non-null   object
 19  property_type    964 non-null    object
dtypes: float64(4), int64(2), object(14)
memory usage: 619.0+ KB

In [8]:
df.isnull().sum()

property_name         0
society               1
price                20
price_per_sqft       20
area                 20
areaWithType          0
bedRoom               0
bathroom              0
balcony               0
additionalRoom        0
address              11
floorNum             21
facing             1177
agePossession         1
nearbyLocations     207
description           0
furnishDetails     1032
features            709
rating              450
property_type      2997
dtype: int64

In [9]:
df.isna().sum()

property_name         0
society               1
price                20
price_per_sqft       20
area                 20
areaWithType          0
bedRoom               0
bathroom              0
balcony               0
additionalRoom        0
address              11
floorNum             21
facing             1177
agePossession         1
nearbyLocations     207
description           0
furnishDetails     1032
features            709
rating              450
property_type      2997
dtype: int64

In [10]:
df.head()

,property_name,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_type
0,4 BHK Flat in Sector 22 Gurgaon,ambience creacions,6.00,20533.0,29221.0,Carpet area: 3000 (278.71 sq.m.),4,5,3+,"pooja room,servant room","Sector 22 Gurgaon, Gurgaon, Haryana",10.0,South-East,0 to 1 Year Old,"['Moulsari Avenue', 'Ambience Mall', 'Old Delh...",Ambience creacions is one of gurgaon's most so...,"['4 Wardrobe', '6 Fan', '1 Exhaust Fan', '4 Ge...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Lifestyle4 out of 5...",NaN
1,3 BHK Flat in Sector-2 Sohna,supertech hill town,1.00,8720.0,11468.0,Carpet area: 1720 (159.79 sq.m.),3,3,3+,not available,"L342c, Sector-2 Sohna, Gurgaon, Haryana",3.0,East,Under Construction,"['Discount Department Store', 'Omaxe Gurgaon M...","Spacious rooms, amazing locality, situated on ...",[],"['Lift(s)', 'Maintenance Staff', 'Swimming Poo...",NaN,NaN
2,2 BHK Flat in Sector 107 Gurgaon,m3m woodshire,1.00,7496.0,13340.0,Super Built up area 1534(142.51 sq.m.)Carpet a...,2,2,3,study room,"Sector 107 Gurgaon, Gurgaon, Haryana",0.0,North-East,1 to 5 Year Old,"['Signum 107', 'Nora Solomon Medicenter', 'Ind...",Ground floor corner flat with day light throug...,"['5 Fan', '1 Geyser', '5 Light', '4 AC', '1 Mo...","['Intercom Facility', 'Lift(s)', 'Maintenance ...","['Green Area4.5 out of 5', 'Construction5 out ...",NaN
3,5 Bedroom House for sale in Sector 57 Gurgaon,satya the legend,9.25,16577.0,5580.0,Plot area 642(536.79 sq.m.)Built Up area: 630 ...,5,5,3+,"study room,servant room,pooja room,store room","7-08, Sector 57 Gurgaon, Gurgaon, Haryana",4.0,North-East,1 to 5 Year Old,"['HDFC Bank ATM', 'ICICI Bank ATM', 'YES Bank ...","Sector-57, gurgaon is located on the golf cour...","['1 Water Purifier', '9 Fan', '1 Exhaust Fan',...","['Centrally Air Conditioned', 'Water purifier'...","['Environment4 out of 5', 'Safety4 out of 5', ...",house
4,2 BHK Flat in Sector 83 Gurgaon,vatika gurgaon,0.07,6265.0,1117.0,Super Built up area 1245(115.66 sq.m.)Built Up...,2,2,2,"pooja room,study room","1102, Sector 83 Gurgaon, Gurgaon, Haryana",3.0,South-East,1 to 5 Year Old,"['Huda Metro Station (Gurugram)', 'Sapphire 83...",Luxurious 2 bhk apartment for sell in sector-8...,"['5 Fan', '1 Exhaust Fan', '3 Geyser', '5 Ligh...","['Water purifier', 'Security / Fire Alarm', 'P...","['Green Area5 out of 5', 'Construction4.5 out ...",NaN

In [12]:
df.insert(loc=3, column='sector',value=df['property_name'].str.split('in').str.get(1).str.replace('Gurgaon','').str.strip())

In [13]:
df.head()

,property_name,society,price,sector,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_type
0,4 BHK Flat in Sector 22 Gurgaon,ambience creacions,6.00,Sector 22,20533.0,29221.0,Carpet area: 3000 (278.71 sq.m.),4,5,3+,"pooja room,servant room","Sector 22 Gurgaon, Gurgaon, Haryana",10.0,South-East,0 to 1 Year Old,"['Moulsari Avenue', 'Ambience Mall', 'Old Delh...",Ambience creacions is one of gurgaon's most so...,"['4 Wardrobe', '6 Fan', '1 Exhaust Fan', '4 Ge...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Lifestyle4 out of 5...",NaN
1,3 BHK Flat in Sector-2 Sohna,supertech hill town,1.00,Sector-2 Sohna,8720.0,11468.0,Carpet area: 1720 (159.79 sq.m.),3,3,3+,not available,"L342c, Sector-2 Sohna, Gurgaon, Haryana",3.0,East,Under Construction,"['Discount Department Store', 'Omaxe Gurgaon M...","Spacious rooms, amazing locality, situated on ...",[],"['Lift(s)', 'Maintenance Staff', 'Swimming Poo...",NaN,NaN
2,2 BHK Flat in Sector 107 Gurgaon,m3m woodshire,1.00,Sector 107,7496.0,13340.0,Super Built up area 1534(142.51 sq.m.)Carpet a...,2,2,3,study room,"Sector 107 Gurgaon, Gurgaon, Haryana",0.0,North-East,1 to 5 Year Old,"['Signum 107', 'Nora Solomon Medicenter', 'Ind...",Ground floor corner flat with day light throug...,"['5 Fan', '1 Geyser', '5 Light', '4 AC', '1 Mo...","['Intercom Facility', 'Lift(s)', 'Maintenance ...","['Green Area4.5 out of 5', 'Construction5 out ...",NaN
3,5 Bedroom House for sale in Sector 57 Gurgaon,satya the legend,9.25,Sector 57,16577.0,5580.0,Plot area 642(536.79 sq.m.)Built Up area: 630 ...,5,5,3+,"study room,servant room,pooja room,store room","7-08, Sector 57 Gurgaon, Gurgaon, Haryana",4.0,North-East,1 to 5 Year Old,"['HDFC Bank ATM', 'ICICI Bank ATM', 'YES Bank ...","Sector-57, gurgaon is located on the golf cour...","['1 Water Purifier', '9 Fan', '1 Exhaust Fan',...","['Centrally Air Conditioned', 'Water purifier'...","['Environment4 out of 5', 'Safety4 out of 5', ...",house
4,2 BHK Flat in Sector 83 Gurgaon,vatika gurgaon,0.07,Sector 83,6265.0,1117.0,Super Built up area 1245(115.66 sq.m.)Built Up...,2,2,2,"pooja room,study room","1102, Sector 83 Gurgaon, Gurgaon, Haryana",3.0,South-East,1 to 5 Year Old,"['Huda Metro Station (Gurugram)', 'Sapphire 83...",Luxurious 2 bhk apartment for sell in sector-8...,"['5 Fan', '1 Exhaust Fan', '3 Geyser', '5 Ligh...","['Water purifier', 'Security / Fire Alarm', 'P...","['Green Area5 out of 5', 'Construction4.5 out ...",NaN

In [14]:
df['sector'] = df['sector'].str.lower()

In [15]:
df.head()

,property_name,society,price,sector,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_type
0,4 BHK Flat in Sector 22 Gurgaon,ambience creacions,6.00,sector 22,20533.0,29221.0,Carpet area: 3000 (278.71 sq.m.),4,5,3+,"pooja room,servant room","Sector 22 Gurgaon, Gurgaon, Haryana",10.0,South-East,0 to 1 Year Old,"['Moulsari Avenue', 'Ambience Mall', 'Old Delh...",Ambience creacions is one of gurgaon's most so...,"['4 Wardrobe', '6 Fan', '1 Exhaust Fan', '4 Ge...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Lifestyle4 out of 5...",NaN
1,3 BHK Flat in Sector-2 Sohna,supertech hill town,1.00,sector-2 sohna,8720.0,11468.0,Carpet area: 1720 (159.79 sq.m.),3,3,3+,not available,"L342c, Sector-2 Sohna, Gurgaon, Haryana",3.0,East,Under Construction,"['Discount Department Store', 'Omaxe Gurgaon M...","Spacious rooms, amazing locality, situated on ...",[],"['Lift(s)', 'Maintenance Staff', 'Swimming Poo...",NaN,NaN
2,2 BHK Flat in Sector 107 Gurgaon,m3m woodshire,1.00,sector 107,7496.0,13340.0,Super Built up area 1534(142.51 sq.m.)Carpet a...,2,2,3,study room,"Sector 107 Gurgaon, Gurgaon, Haryana",0.0,North-East,1 to 5 Year Old,"['Signum 107', 'Nora Solomon Medicenter', 'Ind...",Ground floor corner flat with day light throug...,"['5 Fan', '1 Geyser', '5 Light', '4 AC', '1 Mo...","['Intercom Facility', 'Lift(s)', 'Maintenance ...","['Green Area4.5 out of 5', 'Construction5 out ...",NaN
3,5 Bedroom House for sale in Sector 57 Gurgaon,satya the legend,9.25,sector 57,16577.0,5580.0,Plot area 642(536.79 sq.m.)Built Up area: 630 ...,5,5,3+,"study room,servant room,pooja room,store room","7-08, Sector 57 Gurgaon, Gurgaon, Haryana",4.0,North-East,1 to 5 Year Old,"['HDFC Bank ATM', 'ICICI Bank ATM', 'YES Bank ...","Sector-57, gurgaon is located on the golf cour...","['1 Water Purifier', '9 Fan', '1 Exhaust Fan',...","['Centrally Air Conditioned', 'Water purifier'...","['Environment4 out of 5', 'Safety4 out of 5', ...",house
4,2 BHK Flat in Sector 83 Gurgaon,vatika gurgaon,0.07,sector 83,6265.0,1117.0,Super Built up area 1245(115.66 sq.m.)Built Up...,2,2,2,"pooja room,study room","1102, Sector 83 Gurgaon, Gurgaon, Haryana",3.0,South-East,1 to 5 Year Old,"['Huda Metro Station (Gurugram)', 'Sapphire 83...",Luxurious 2 bhk apartment for sell in sector-8...,"['5 Fan', '1 Exhaust Fan', '3 Geyser', '5 Ligh...","['Water purifier', 'Security / Fire Alarm', 'P...","['Green Area5 out of 5', 'Construction4.5 out ...",NaN

In [16]:
df['sector'].value_counts()

sector
sohna                                                        163
sector 102                                                   113
sector 85                                                    110
sector 92                                                    104
sector 69                                                     94
sector 90                                                     90
sector 65                                                     90
sector 81                                                     90
sector 109                                                    88
sector 79                                                     80
sector 83                                                     69
sector 37d                                                    68
sector 86                                                     67
sector 104                                                    66
sector 107                                                    60
sector 108                                                    59
sector 56                                                     57
sector 95                                                     57
sector 89                                                     56
sector 48                                                     56
sector 70a                                                    54
nirvana country                                               53
sector 37c                                                    53
sector 70                                                     53
sector 84                                                     51
sector-33 sohna                                               51
palam vihar                                                   50
sector 67                                                     48
sector 66                                                     46
sector 103                                                    45
sector 113                                                    43
dlf phase 2                                                   43
dlf phase 1                                                   43
sector 82                                                     42
sector 61                                                     42
sector 106                                                    38
sector 49                                                     36
sector 99a                                                    32
sushant lok phase 1                                           31
sector 68                                                     30
sector 77                                                     29
sector 72                                                     29
sector 54                                                     27
sector 71                                                     27
laxman vihar                                                  27
dlf phase 4                                                   26
sector 112                                                    24
sector 33                                                     23
sector 88a                                                    23
dlf phase 3                                                   22
sector 67a                                                    22
sector 111                                                    22
sector 22                                                     20
sector 82a                                                    20
sector 78                                                     19
sector 63a                                                    18
sector 74                                                     18
sector 91                                                     17
sector 62                                                     17
sushant lok phase 3                                           16
sector 99                                                     16
sector 110                                                    16
sector 14                                                     15
sector 63                                                     15
sector 60                                                     15
dlf phase 5                                                   14
gwal pahari                                                   14
sector 3                                                      14
sector 52                                                     14
sector 76                                                     14
sector 53                                                     14
sector 1 imt manesar                                          14
rajendra park                                                 14
laxman vihar phase 2                                          13
sector 36a                                                    13
sector 46                                                     13
sohna road                                                    12
sector 50                                                     12
sector 31                                                     12
sector 39                                                     12
uppals southend                                               12
sector 38                                                     12
sector 93                                                     12
ashok vihar phase 3 extension                                 11
sector 47                                                     11
sector 9a                                                     11
sector 7                                                      10
sector 1a imt manesar                                         10
sector 55                                                      9
ashok vihar phase 2                                            9
sector 4                                                       9
sector 95a                                                     9
south city 1                                                   9
sector 10a                                                     8
sector 89 a                                                    8
sector 43                                                      8
malibu town                                                    8
sector 59                                                      8
sector 57                                                      8
mehrauli  road                                                 8
c block sushant lok phase 1                                    8
sector 40                                                      8
palam vihar extension                                          8
dwarka expressway                                              8
sector 36 sohna                                                7
surat nagar 1                                                  7
sector 11                                                      7
new colony                                                     7
sector 26                                                      7
sector 51                                                      7
sector 58                                                      7
mianwali colony                                                7
jyoti park                                                     6
ashok vihar                                                    6
sector 5                                                       6
jacobpura                                                      6
rajiv nagar                                                    6
sector 1                                                       6
dayanand colony                                                5
ansal plaza                                                    5
new palam vihar                                                5
greenwood city                                                 5
sector 28                                                      5
sector 2                                                       5
saraswati vihar                                                5
sector 80                                                      5
manesar                                                        5
chakkarpur                                                     5
sector 9                                                       5
subhash nagar                                                  5
sector 105                                                     5
sector 30                                                      5
sushant lok phase 2                                            5
sector 23a                                                     5
arjun nagar                                                    5
vishnu garden                                                  4
bhim nagar                                                     4
dharam colony                                                  4
garhi harsaru                                                  4
shivaji nagar                                                  4
suncity                                                        4
adarsh nagar                                                   4
krishna colony                                                 4
madanpuri                                                      4
sector 36                                                      4
baldev nagar                                                   4
devilal colony                                                 4
sector 12                                                      4
sector 3a                                                      4
bhondsi                                                        4
sector 45                                                      4
imt manesar                                                    4
sector 12a                                                     4
valley view estate                                             4
new                                                            4
sector 17                                                      4
sector 6                                                       4
surya vihar                                                    4
ravi nagar                                                     4
shivpuri                                                       4
sector 88b                                                     3
sector 8                                                       3
maruti kunj                                                    3
patel nagar                                                    3
a block sushant lok phase 1                                    3
prem nagar                                                     3
shakti nagar                                                   3
sector 15                                                      3
sector 23                                                      3
sector 17a                                                     3
sector 27                                                      3
mg road                                                        3
sector 73                                                      3
laxmi garden                                                   3
b block sushant lok phase 1                                    3
gandhi nagar                                                   3
sector 17b                                                     3
sector 110 a                                                   3
sushant lok                                                    2
new palam vihar phase 1                                        2
acharya puri                                                   2
rosewood                                                       2
golf course ext road                                           2
sector 15 part 2                                               2
bissar                                                         2
iffco chowk                                                    2
manohar nagar                                                  2
golf course road                                               2
shanti nagar                                                   2
west rajiv nagar                                               2
sector 24                                                      2
ambience island                                                2
bhawani enclave                                                2
lajpat nagar                                                   2
daulatabad                                                     2
sector 21                                                      2
sohna  road                                                    2
hira nagar                                                     2
samaspur                                                       2
sispal vihar                                                   2
mohan nagar                                                    2
shankar vihar                                                  2
faridabad road                                                 2
sector 32                                                      2
mayfield garden                                                2
rajiv chowk                                                    2
sector-2 sohna                                                 2
surat nagar                                                    2
new basti                                                      2
block a surya vihar                                            2
sector 15 part 1                                               2
nars                                                           2
new palam vihar phase 2                                        2
, delhi ncr                                                    2
farukhnagar                                                    2
surat nagar phase 2                                            2
sheetla colony                                                 2
pratap nagar                                                   2
sector 41                                                      2
sector-11 sohna                                                2
pataudi road                                                   1
damdma                                                         1
near nand hospital                                             1
rajiv colony                                                   1
b1 block sector 57                                             1
new colony, sector 7                                           1
ram nagar                                                      1
park view                                                      1
near khandsa road                                              1
ashok vihar phase 3                                            1
khandsa                                                        1
sector 42                                                      1
begampur khatola                                               1
sultanpur                                                      1
block h ashok vihar phase iii extension                        1
udyog vihar phase 1                                            1
sector 5 chowk                                                 1
godrej aria , sector 79 ,                                      1
tekchand nagar                                                 1
bptp                                                           1
jat colony,fazilpur/taj nagar road                             1
vir nagar                                                      1
near sector 1 market                                           1
nirvana country pocket h                                       1
south city                                                     1
bhimgarh kheri phase 3                                         1
om nagar                                                       1
shivji park colony                                             1
block g sector-57                                              1
laxmna vihar, phase 2                                          1
sec 3 bhim vihar part 1 bhimgher kheri                         1
sector 17c                                                     1
saroop garden rajendra park                                    1
jacobpura near sadar bazar                                     1
cyber city                                                     1
sector-7 hous                                                  1
urban estate, sector 5                                         1
laxman vihar, railway road,                                    1
sector 37b                                                     1
ats marigold                                                   1
sector 9b                                                      1
kheri                                                          1
sector 37a                                                     1
old delhi road, opp sector-14                                  1
mahavir pura                                                   1
hno 13 sagar enclave sura                                      1
civil l                                                        1
ravi nager basai road                                          1
ashok vihar phase i                                            1
sector-5 sohna                                                 1
near euro                                                      1
sadar bazar                                                    1
gopal nagar, garhi ghasita, sonipat                            1
near pataudi chowk                                             1
kanahi                                                         1
devi lal colony gali no 12 gurgaon nr omkar public school      1
anand garden, sector-105                                       1
g block dlf city phase 1                                       1
sai kunj                                                       1
mahalaxmi garden, rajendra place                               1
alipur                                                         1
hsiidc plot sector 1 imt manesar                               1
lucknow                                                        1
sector-35 sohna                                                1
rattan garden                                                  1
sector-5 sheetla colony                                        1
sector 21a faridabad                                           1
heritage city                                                  1
v block dlf phase 3                                            1
bhora kalan                                                    1
ansal's palam vihar                                            1
carterpuri village                                             1
sector 13                                                      1
huda saraswati vihar                                           1
new jyoti park                                                 1
saraswati enclave                                              1
sector 4 urban estate                                          1
dhankot                                                        1
part 3 sector 5                                                1
naharpur rupa                                                  1
garauli kalan                                                  1
Name: count, dtype: int64

In [17]:
df['sector'] = df['sector'].str.replace('dharam colony','sector 12')
df['sector'] = df['sector'].str.replace('krishna colony','sector 7')
df['sector'] = df['sector'].str.replace('suncity','sector 54')
df['sector'] = df['sector'].str.replace('prem nagar','sector 13')
df['sector'] = df['sector'].str.replace('mg road','sector 28')
df['sector'] = df['sector'].str.replace('gandhi nagar','sector 28')
df['sector'] = df['sector'].str.replace('laxmi garden','sector 11')
df['sector'] = df['sector'].str.replace('shakti nagar','sector 11')
df['sector'] = df['sector'].str.replace('baldev nagar','sector 7')
df['sector'] = df['sector'].str.replace('shivpuri','sector 7')
df['sector'] = df['sector'].str.replace('garhi harsaru','sector 17')
df['sector'] = df['sector'].str.replace('imt manesar','manesar')
df['sector'] = df['sector'].str.replace('adarsh nagar','sector 12')
df['sector'] = df['sector'].str.replace('shivaji nagar','sector 11')
df['sector'] = df['sector'].str.replace('bhim nagar','sector 6')
df['sector'] = df['sector'].str.replace('madanpuri','sector 7')
df['sector'] = df['sector'].str.replace('saraswati vihar','sector 28')
df['sector'] = df['sector'].str.replace('arjun nagar','sector 8')
df['sector'] = df['sector'].str.replace('ravi nagar','sector 9')
df['sector'] = df['sector'].str.replace('vishnu garden','sector 105')
df['sector'] = df['sector'].str.replace('bhondsi','sector 11')
df['sector'] = df['sector'].str.replace('surya vihar','sector 21')
df['sector'] = df['sector'].str.replace('devilal colony','sector 9')
df['sector'] = df['sector'].str.replace('valley view estate','gwal pahari')
df['sector'] = df['sector'].str.replace('mehrauli  road','sector 14')
df['sector'] = df['sector'].str.replace('jyoti park','sector 7')
df['sector'] = df['sector'].str.replace('ansal plaza','sector 23')
df['sector'] = df['sector'].str.replace('dayanand colony','sector 6')
df['sector'] = df['sector'].str.replace('sushant lok phase 2','sector 55')
df['sector'] = df['sector'].str.replace('chakkarpur','sector 28')
df['sector'] = df['sector'].str.replace('greenwood city','sector 45')
df['sector'] = df['sector'].str.replace('subhash nagar','sector 12')
df['sector'] = df['sector'].str.replace('sohna road road','sohna road')
df['sector'] = df['sector'].str.replace('malibu town','sector 47')
df['sector'] = df['sector'].str.replace('surat nagar 1','sector 104')
df['sector'] = df['sector'].str.replace('new colony','sector 7')
df['sector'] = df['sector'].str.replace('mianwali colony','sector 12')
df['sector'] = df['sector'].str.replace('jacobpura','sector 12')
df['sector'] = df['sector'].str.replace('rajiv nagar','sector 13')
df['sector'] = df['sector'].str.replace('ashok vihar','sector 3')
df['sector'] = df['sector'].str.replace('dlf phase 1','sector 26')
df['sector'] = df['sector'].str.replace('nirvana country','sector 50')
df['sector'] = df['sector'].str.replace('palam vihar','sector 2')
df['sector'] = df['sector'].str.replace('dlf phase 2','sector 25')
df['sector'] = df['sector'].str.replace('sushant lok phase 1','sector 43')
df['sector'] = df['sector'].str.replace('laxman vihar','sector 4')
df['sector'] = df['sector'].str.replace('dlf phase 4','sector 28')
df['sector'] = df['sector'].str.replace('dlf phase 3','sector 24')
df['sector'] = df['sector'].str.replace('sushant lok phase 3','sector 57')
df['sector'] = df['sector'].str.replace('dlf phase 5','sector 43')
df['sector'] = df['sector'].str.replace('rajendra park','sector 105')
df['sector'] = df['sector'].str.replace('uppals southend','sector 49')
df['sector'] = df['sector'].str.replace('sohna','sohna road')
df['sector'] = df['sector'].str.replace('ashok vihar phase 3 extension','sector 5')
df['sector'] = df['sector'].str.replace('south city 1','sector 41')
df['sector'] = df['sector'].str.replace('ashok vihar phase 2','sector 5')

In [20]:
a = df['sector'].value_counts()[df['sector'].value_counts() >= 3]
df = df[df['sector'].isin(a.index)]

In [21]:
df['sector'].value_counts()

sector
sohna road                    163
sector 102                    113
sector 85                     110
sector 92                     104
sector 69                      94
sector 81                      90
sector 65                      90
sector 90                      90
sector 109                     88
sector 79                      80
sector 104                     73
sector 83                      69
sector 37d                     68
sector 86                      67
sector 50                      65
sector 107                     60
sector 108                     59
sector 95                      57
sector 56                      57
sector 89                      56
sector 48                      56
sector 2                       55
sector 70a                     54
sector 43                      53
sector 37c                     53
sector 70                      53
sector 84                      51
sector-33 sohna road           51
sector 26                      50
sector 49                      48
sector 67                      48
sector 28                      47
sector 66                      46
sector 103                     45
sector 113                     43
sector 25                      43
sector 82                      42
sector 61                      42
sector 7                       39
sector 106                     38
sector 4                       36
sector 99a                     32
sector 54                      31
sector 68                      30
sector 12                      30
sector 72                      29
sector 77                      29
sector 71                      27
sector 57                      24
sector 24                      24
sector 112                     24
sector 33                      23
sector 14                      23
sector 105                     23
sector 88a                     23
sector 111                     22
sector 67a                     22
sector 11                      21
sector 3                       20
sector 22                      20
sector 82a                     20
sector 47                      19
sector 78                      19
gwal pahari                    18
sector 63a                     18
sector 74                      18
sector 62                      17
sector 91                      17
sector 110                     16
sector 99                      16
sector 63                      15
sector 60                      15
sector 52                      14
sector 76                      14
sector 53                      14
sector 1 manesar               14
sector 55                      14
sector 36a                     13
sector 6                       13
sector 46                      13
sector 4 phase 2               13
sector 9                       13
sector 93                      12
sector 38                      12
sohna road road                12
sector 39                      12
sector 31                      12
sector 9a                      11
sector 41                      11
sector 3 phase 3 extension     11
sector 13                      10
sector 1a manesar              10
sector 3 phase 2                9
sector 45                       9
sector 95a                      9
manesar                         9
sector 59                       8
sector 10a                      8
sector 40                       8
sector 89 a                     8
c block sector 43               8
sector 23                       8
sector 17                       8
dwarka expressway               8
sector 2 extension              8
sector 8                        8
sector 58                       7
sector 51                       7
sector 36 sohna road            7
sector 1                        6
sector 5                        6
sector 21                       6
new sector 2                    5
sector 80                       5
sector 30                       5
sector 23a                      5
sector 3a                       4
sector 12a                      4
sector 36                       4
new                             4
patel nagar                     3
sector 15                       3
sector 17a                      3
sector 73                       3
sector 88b                      3
a block sector 43               3
sector 27                       3
sector 110 a                    3
sector 17b                      3
b block sector 43               3
maruti kunj                     3
Name: count, dtype: int64

In [22]:
df['sector'] = df['sector'].str.replace('sector 95a','sector 95')
df['sector'] = df['sector'].str.replace('sector 23a','sector 23')
df['sector'] = df['sector'].str.replace('sector 12a','sector 12')
df['sector'] = df['sector'].str.replace('sector 3a','sector 3')
df['sector'] = df['sector'].str.replace('sector 110 a','sector 110')
df['sector'] = df['sector'].str.replace('patel nagar','sector 15')
df['sector'] = df['sector'].str.replace('a block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('maruti kunj','sector 12')
df['sector'] = df['sector'].str.replace('b block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('sector-33 sohna road','sector 33')
df['sector'] = df['sector'].str.replace('sector 1 manesar','manesar')
df['sector'] = df['sector'].str.replace('sector 4 phase 2','sector 4')
df['sector'] = df['sector'].str.replace('sector 1a manesar','manesar')
df['sector'] = df['sector'].str.replace('c block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('sector 89 a','sector 89')
df['sector'] = df['sector'].str.replace('sector 2 extension','sector 2')
df['sector'] = df['sector'].str.replace('sector 36 sohna road','sector 36')

In [23]:
df[df['sector'] == 'new']

,property_name,society,price,sector,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_type
985,2 BHK Flat in New Gurgaon,green court,0.03,new,5507.0,545.0,Carpet area: 690 (64.1 sq.m.),2,2,1,not available,"New Gurgaon, Gurgaon, Haryana",7.0,NaN,Under Construction,"['Ing bank ATM', 'Dcb bank ATM', 'Indus ind ba...",We are the proud owners of this 2 bhk apartmen...,[],"['Intercom Facility', 'Lift(s)', 'Maintenance ...",NaN,NaN
1143,4 BHK Flat in New Gurgaon,dlf 76,4.00,new,11428.0,35002.0,Carpet area: 3500 (325.16 sq.m.),4,4,2,"study room,servant room","New Gurgaon, Gurgaon, Haryana",4.0,NaN,Jun 2027,"['Shri Balaji Hospital and Trauma Center', 'S....",This lovely 4 bhk apartment/flat in new gurgao...,"['6 Wardrobe', '1 Fridge', '8 Fan', '1 Exhaust...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...",NaN,NaN
1781,2 BHK Flat in New Gurgaon,takshila heights sector 37 c,0.06,new,5583.0,1075.0,Super Built up area 1200(111.48 sq.m.),2,2,2,not available,"New Gurgaon, Gurgaon, Haryana",3.0,NaN,1 to 5 Year Old,"['Shri Balaji Hospital and Trauma Center', 'S....",Check out this 2 bhk apartment for sale in tak...,[],"['Lift(s)', 'Swimming Pool', 'Visitor Parking'...",NaN,NaN
3443,4 BHK Flat in New Gurgaon,sare homes,0.08,new,4786.0,1672.0,Super Built up area 1776(165 sq.m.),4,4,3,not available,"New Gurgaon, Gurgaon, Haryana",3.0,NaN,5 to 10 Year Old,"['Columbia Asia Hospital', 'Apex Multi Special...",Located in the popular residential address of ...,[],NaN,NaN,NaN

In [24]:
df.loc[985,'sector'] = 'sector 37'
df.loc[1143,'sector'] = 'sector 92'
df.loc[1781,'sector'] = 'sector 37'
df.loc[3443,'sector'] = 'sector 76'

In [25]:
df[df['sector'] == 'new sector 2']

,property_name,society,price,sector,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_type
267,2 BHK Flat in New Palam Vihar,my home,0.02,new sector 2,4400.0,455.0,Carpet area: 500 (46.45 sq.m.),2,2,1,not available,"New Palam Vihar, Gurgaon, Haryana",1.0,NaN,0 to 1 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",Cctv surveillance are provided here. There is ...,"['3 Fan', '1 Exhaust Fan', '15 Light', '1 Modu...",NaN,"['Safety4 out of 5', 'Lifestyle4 out of 5', 'E...",NaN
1474,2 BHK Flat in New Palam Vihar,ompee k s residency,1.00,new sector 2,26936.0,3713.0,Carpet area: 66 (55.18 sq.m.),2,2,2,not available,"New Palam Vihar, Gurgaon, Haryana",1.0,NaN,1 to 5 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",We are the proud owners of this 2 bhk apartmen...,NaN,NaN,"['Environment4 out of 5', 'Safety4 out of 5', ...",NaN
3016,2 Bedroom House for sale in New Palam Vihar,my home,0.34,new sector 2,12592.0,270.0,Plot area 270(25.08 sq.m.),2,2,2,not available,"Ez-19 A, New Palam Vihar, Gurgaon, Haryana",3.0,West,5 to 10 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",There are availability of various facilities l...,"['1 Wardrobe', '3 Fan', '6 Light', 'No AC', 'N...","['Water Storage', 'Park', 'Visitor Parking']","['Environment4 out of 5', 'Lifestyle4 out of 5...",house
3197,2 BHK Flat in New Palam Vihar,my home,0.02,new sector 2,3166.0,632.0,Carpet area: 900 (83.61 sq.m.),2,1,1,others,"F 150/b, New Palam Vihar, Gurgaon, Haryana",2.0,NaN,1 to 5 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...","2 bhk room with wooden coverd ,1 drawing room,...","['3 Wardrobe', '5 Light', '1 Chimney', '1 Modu...","['Water Storage', 'Park']","['Environment4 out of 5', 'Safety4 out of 5', ...",NaN
3385,3 Bedroom House for sale in New Palam Vihar,independent,1.00,new sector 2,8796.0,1137.0,Plot area 120(100.34 sq.m.)Built Up area: 120 ...,3,2,2,pooja room,"Q-148, New Palam Vihar, Phase-2, Near Royal Oa...",1.0,North,10+ Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...","Ground and first floor, Ground floor: Ground f...",NaN,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5...",house

In [26]:
df.loc[[267, 1474, 3016, 3197, 3385], 'sector'] = 'sector 110'

In [27]:
df.shape

(3803, 21)

In [28]:
df.duplicated().sum()

0

In [29]:
df.head()

,property_name,society,price,sector,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_type
0,4 BHK Flat in Sector 22 Gurgaon,ambience creacions,6.00,sector 22,20533.0,29221.0,Carpet area: 3000 (278.71 sq.m.),4,5,3+,"pooja room,servant room","Sector 22 Gurgaon, Gurgaon, Haryana",10.0,South-East,0 to 1 Year Old,"['Moulsari Avenue', 'Ambience Mall', 'Old Delh...",Ambience creacions is one of gurgaon's most so...,"['4 Wardrobe', '6 Fan', '1 Exhaust Fan', '4 Ge...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Lifestyle4 out of 5...",NaN
2,2 BHK Flat in Sector 107 Gurgaon,m3m woodshire,1.00,sector 107,7496.0,13340.0,Super Built up area 1534(142.51 sq.m.)Carpet a...,2,2,3,study room,"Sector 107 Gurgaon, Gurgaon, Haryana",0.0,North-East,1 to 5 Year Old,"['Signum 107', 'Nora Solomon Medicenter', 'Ind...",Ground floor corner flat with day light throug...,"['5 Fan', '1 Geyser', '5 Light', '4 AC', '1 Mo...","['Intercom Facility', 'Lift(s)', 'Maintenance ...","['Green Area4.5 out of 5', 'Construction5 out ...",NaN
3,5 Bedroom House for sale in Sector 57 Gurgaon,satya the legend,9.25,sector 57,16577.0,5580.0,Plot area 642(536.79 sq.m.)Built Up area: 630 ...,5,5,3+,"study room,servant room,pooja room,store room","7-08, Sector 57 Gurgaon, Gurgaon, Haryana",4.0,North-East,1 to 5 Year Old,"['HDFC Bank ATM', 'ICICI Bank ATM', 'YES Bank ...","Sector-57, gurgaon is located on the golf cour...","['1 Water Purifier', '9 Fan', '1 Exhaust Fan',...","['Centrally Air Conditioned', 'Water purifier'...","['Environment4 out of 5', 'Safety4 out of 5', ...",house
4,2 BHK Flat in Sector 83 Gurgaon,vatika gurgaon,0.07,sector 83,6265.0,1117.0,Super Built up area 1245(115.66 sq.m.)Built Up...,2,2,2,"pooja room,study room","1102, Sector 83 Gurgaon, Gurgaon, Haryana",3.0,South-East,1 to 5 Year Old,"['Huda Metro Station (Gurugram)', 'Sapphire 83...",Luxurious 2 bhk apartment for sell in sector-8...,"['5 Fan', '1 Exhaust Fan', '3 Geyser', '5 Ligh...","['Water purifier', 'Security / Fire Alarm', 'P...","['Green Area5 out of 5', 'Construction4.5 out ...",NaN
5,4 Bedroom House for sale in Sector 63 Gurgaon,dlf the arbour,8.50,sector 63,21519.0,3950.0,Built Up area: 3950 (366.97 sq.m.),4,4,3+,not available,"Sector 63, Sector 63 Gurgaon, Gurgaon, Haryana",27.0,NaN,undefined,"['Radhakrishna Shani Mandir', 'pracksht hospit...",Best in class property available at sector 63 ...,"['1 Wardrobe', '1 Fan', '1 Light', 'No AC', 'N...",NaN,NaN,house

In [30]:
df.drop(columns=['property_name','address','description','rating'],inplace=True)

In [31]:
df.sample(5)

,society,price,sector,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features,property_type
3540,rof ananda,0.03,sector 95,5899.0,509.0,Carpet area: 644.12 (59.84 sq.m.),3,2,1,pooja room,2.0,South-East,1 to 5 Year Old,"['Metro', 'Dwarka Expressway', 'Rajeev Chowk',...","['5 Fan', '1 Exhaust Fan', '1 Geyser', '8 Ligh...","['Power Back-up', 'Security / Fire Alarm', 'In...",NaN
3333,avl 36 gurgaon,0.03,sector 36a,8990.0,334.0,Super Built up area 406(37.72 sq.m.)Carpet are...,1,1,1,not available,7.0,West,1 to 5 Year Old,"['S.R.S. Hospital and Critical Care Unit', 'Sh...","['2 Wardrobe', '2 Fan', '1 Sofa', '1 Exhaust F...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...",NaN
1876,umang winter hills,1.00,sector 77,7500.0,13333.0,Carpet area: 1340 (124.49 sq.m.),2,2,2,not available,3.0,NaN,0 to 1 Year Old,"['Entertainland Mall', 'Delhi Jaipur Expresswa...",NaN,"['Security / Fire Alarm', 'Feng Shui / Vaastu ...",NaN
3765,bestech park view spa next,3.00,sector 67,12599.0,23811.0,Super Built up area 2635(244.8 sq.m.),4,5,3+,servant room,12.0,West,5 to 10 Year Old,"['Omaxe City Centre Mall', 'Golf Course Extens...","['4 Wardrobe', '8 Fan', '1 Exhaust Fan', '5 Ge...","['Centrally Air Conditioned', 'Water purifier'...",NaN
501,the khushboo cooperative housing society ltd,0.08,sector 9a,4888.0,1637.0,Super Built up area 1800(167.23 sq.m.)Carpet a...,3,3,2,not available,2.0,North-West,10+ Year Old,"['Sector 42-43 metro station', 'Huda city cent...","['4 Wardrobe', '6 Fan', '1 Exhaust Fan', '4 Ge...","['Security / Fire Alarm', 'Lift(s)', 'Water St...",NaN

In [32]:
df.duplicated().sum()

123

In [33]:
df.to_csv('gurgoan_properties_cleaned_v1.csv', index=False)

In [34]:
df.shape

(3803, 17)